







.logo {
    display: flex;
    justify-content: center;
    max-width: 8rem;
    margin-top: 19px;
    margin-left: 33px;
    margin-bottom: 2rem;
}





.Menu-btn{
    padding: 1px 0px 0px 6px;
}

.Menu-btn li:hover{
    background-color: #fff;
   
}
.Menu-btn li:hover a{
    color: rgb(34 211 238);
}


.sidebar i{
    padding: 10px;
    border-radius: 10px;
    
}
.sidebar{
    display: none;
    height: 100%;
}
.sidebar.active{
    display: block;
}
.burger{
    display: none;
}
.search-container {
    display: flex;
    align-items: center;
    gap: 2rem;
   
}
.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 13px;
    outline: none;
    color: #616161;
}
.search-container button {
    font-size: 2rem;
    top: 4px;
    right: 4px;
    padding: 3px 8px 5px 8px;
 
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    color: #fff;
}
.search-container button:hover {
    background-color: #ddd;
}

.user-info i{
    font-size: 30px;
    
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 32px 15px 25px;
   align-items: center;
   gap: 10rem;
}
.header h2{
    font-size: 30px;
    
}

.box-title{
    display: flex;
    justify-content: space-between;
}


.application-btn{
    display: flex;
    gap: 10px;
}
.app-btn-1{
    
    height: 50px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 3px;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #8A8A8A;
    background-color: #084826;
    line-height: 1rem;

}
    
 .box {
    border: 1px solid #8A8A8A;
   
     margin-bottom: .2rem;
    }
    
    


    table {
        width: 100%;
        border-collapse: collapse;
       
    }
    th, td {
        text-align: left;
   
    padding: 8px 30px 20px 10px;
    color: #616161;
    font-size: 12px;
    }
    
    .table-body {
        
      
        border-radius: 20px;
       
    }
      
    .box-container{
        display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
   
    
     padding: 1.2rem;
    }

    .query-list{
        display: flex;
        justify-content: space-between;
    } 

    .gird-content{
        padding: 20px;
    }
 
    .grid-container {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        height: 100vh;
    }
    .header {
        color: #fff;
        padding: 20px;
    }
    
    .table-view {
       
        overflow: hidden;
    }
    .table-body{
        overflow-x: auto;
    }
    @media (max-width: 767px) {
        .grid-container{
            display: block;
        }
        .burger{
            display: block;
        }
        .app-btn-1, .app-btn{
            width: 100%;
            justify-content: left;
        }
        .form-main {
          grid-template-columns: 1fr;
          gap: 2rem;
        }
        .form-input{
            gap: .8rem;
        }
        .form-title {
            display: flex;
            justify-content: center;
            color: #2E2A55;
            font-size: 17px;
        }
        .sidebar{
            position: absolute;
            width: 12rem;
            z-index: 10;
            display: block;
        }
        .sidebar.active{
            display: none;
        }
        .t-title{
            flex-wrap: wrap;
            gap: 5px;
        }
        /* .grid-container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            height: 100vh;} */
            .header{
                gap: .5rem;
            }
            .header h2{
                font-size: 18px;
                color: #616161;
            }
      }

 .revenue-container{
 display: grid;
grid-template-columns: 2fr 1fr;
gap: 1rem;
padding: 1.2rem;
    }

      .revenue-heading-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .revenue-sales{
        display: flex;
        gap: 1rem;
      }

      .circle-fill-1 {
        background-color: yellow;
        display: inline-block;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        vertical-align: middle;
    }

    .circle-fill-2{
        background-color: rgb(34 211 238);
        display: inline-block;
        height: 18px;
        width: 18px;
        align-items: center;
        border-radius: 50%;
        vertical-align: baseline;
    }

    .analysis-container{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        gap: 1rem;
    }



.sidebar {
    
    width: 13rem;
    z-index: 10;
    display: block;
    transition: transform 0.5s ease-in-out;
    top: 0; 
    left: 0; 
  }
  
  
  .sidebar-hidden {
    transform: translateX(-100%);
  }
  
  
  .sidebar-active {
    transform: translateX(0);
  }
  
 
  @media (max-width: 768px) {
    .sidebar {
      position: fixed;
      height: 100%;
    }

    .box-container{
        grid-template-columns: 1fr;
    }

    .revenue-container{
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .analysis-container{
        grid-template-columns: 1fr;
    }
    .revenue-heading-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .Order{
        text-align: center;
    }
  }
  

    