


/* Sidebar.css */


.sidebar {
    display: none;
  }
  
  
  .toggle-button {
    display: none;
  }
  
  /* Mobile specific styles */
  @media (max-width: 768px) {
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 250px;
      height: 100%;
      background-color: #1f2937; 
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
      display: block; 
      z-index: 1000; 
    }

    .main-content{
      margin-top: 4rem;
    }
    .main-content h3{
      margin-top: 1rem;
    }
    
    .header {
      color: #fff;
      padding-left: 60px !important;
      position: fixed;
      z-index: 999;
      width: 100%;
      justify-content: center !important;
  }

  .search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px;
    width: 100px !important;
    color: black;
}



.query-list {
  display: block !important;
 
}

.net-container {
  display: flex !important;
  flex-direction: column-reverse;
  align-items: center;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px !important;
  font-size: 10px !important;
}


    .sidebar.open {
      transform: translateX(0);
    }
  
    .toggle-button {
      display: block;
      position: fixed;
      top: 15px;
      left: 15px;
      background: none;
      border: none;
      color: white;
      font-size: 24px;
      z-index: 1000; 
    }

    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
      margin-top: 6rem !important;
  }
    
  .box-main-content {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 1rem;
}

.table-main-chart {
  display: grid;
  grid-template-columns: 1fr !important;
  gap: 1rem;
}
   
.countery-container {
  display: block !important;
  
}
.countery-container h3{
  margin-top: 0.5rem;
  
}

    @media (min-width: 769px) {
      .sidebar {
        display: block; 
        transform: translateX(0);
      }
  
      .toggle-button {
        display: none;
      }
    }
  }
  


.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    
    width: 255px;
    color: black;
    
  }
  
  .search-icon {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  
  .search-input {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }

  .search-input::placeholder {
    color: white;
  }


  .user{
    display: flex;
    gap: 1rem;
  }
  .user i{
    background: gray;
    padding: 0.5rem;
    border-radius: 15px;
  }





.home{
    display: grid;
    grid-template-columns: 0fr 8fr;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.logo i{
    font-size: 28px;
    color: rgb(69, 124, 225);
}



.Menu-btn li{
  display: flex;
  justify-content: center;
}
.Menu-btn li i{
  font-size: 25px;
}

.Menu-btn li:hover a{
    color: rgb(69, 124, 225);
}


.sidebar i{
   padding-bottom: 2rem;
    border-radius: 10px;
    
}
.sidebar{
    display: none;
    height: 100vh;
}
.sidebar.active{
    display: block;
}
.burger{
    display: none;
}


.user-info i{
    font-size: 30px;
    
}

.header{
    display: flex;
    justify-content: space-between;
    
    padding: 15px 32px 15px 25px;
   align-items: center;
   gap: 10rem;
}
.header h2{
    font-size: 30px;
    
}



.box-content{
  padding: 1rem;
}

.application-btn{
    display: flex;
    gap: 10px;
}
.app-btn-1{
    
    height: 50px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 3px;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #8A8A8A;
    background-color: #084826;
    line-height: 1rem;

}



.main-content{
  padding: 1rem;
  
}

.box-main-content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}


    
 .box {
    border: 1px solid #8A8A8A;
   
     margin-bottom: .2rem;
    }
    
    .box-content .box-title i {
      background: rgb(16, 78, 117);
      padding: 0.5rem;
      border-radius: 10px;
      color: #c1bde9;
      font-size: 20px;
  }
   
  .analysis-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

    table {
        width: 100%;
        border-collapse: collapse;
       
    }
    th, td {
        text-align: left;
   
    padding: 8px 30px 20px 10px;
    color: #fff;
    font-size: 12px;
    align-items: center;
    }
    
    .table-body {
        
      
        border-radius: 20px;
       
    }
      
    .box-container{
        display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
   
    
     
    }

    .query-list{
        display: flex;
        justify-content: space-between;
    } 

    
 
    .grid-container {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        height: 100vh;
    }
    .header {
        color: #fff;
        padding: 20px;
        
    }
    
    .table-view {
       
        overflow: hidden;
    }
    .table-body{
        overflow-x: auto;
        padding: 0.8rem 1rem;
    }
    @media (max-width: 767px) {
        .grid-container{
            display: block;
        }
        .burger{
            display: block;
        }
        .app-btn-1, .app-btn{
            width: 100%;
            justify-content: left;
        }
        .form-main {
          grid-template-columns: 1fr;
          gap: 2rem;
        }
        .form-input{
            gap: .8rem;
        }
        .form-title {
            display: flex;
            justify-content: center;
            color: #2E2A55;
            font-size: 17px;
        }
        .sidebar{
            position: absolute;
            width: 12rem;
            z-index: 10;
            display: block;
        }
        .sidebar.active{
            display: none;
        }
        .t-title{
            flex-wrap: wrap;
            gap: 5px;
        }
        
            .header{
                gap: .5rem;
            }
            .header h2{
                font-size: 18px;
                color: #616161;
            }

            #chart{
              width: 375px;
            }
      }

 .revenue-container{
 display: grid;
grid-template-columns: 2fr 1fr;
gap: 1rem;
padding: 1.2rem;
    }

      .revenue-heading-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem 1.4rem;
      }

      .revenue-sales{
        display: flex;
        gap: 1rem;
      }

      .revenue-sales select{
        border-radius: 49px;
    font-size: 11px;
    padding: 0.2rem 0.6rem;
    font-weight: 700;
    color: #fff;
    background: gray;
      }

      .circle-fill-1 {
        background-color: yellow;
        display: inline-block;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        vertical-align: middle;
    }

    .circle-fill-2{
        background-color: rgb(34 211 238);
        display: inline-block;
        height: 18px;
        width: 18px;
        align-items: center;
        border-radius: 50%;
        vertical-align: baseline;
    }

    

.sidebar {
    
    width: 5rem;
    z-index: 10;
    display: block;
    transition: transform 0.5s ease-in-out;
    top: 0; 
    left: 0; 
  }
  
  
  .sidebar-hidden {
    transform: translateX(-100%);
  }
  
  
  .sidebar-active {
    transform: translateX(0);
  }
  
 
  @media (max-width: 768px) {
    .sidebar {
      position: fixed;
      height: 100%;
    }

    .box-container{
        grid-template-columns: 1fr;
    }

    .revenue-container{
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .analysis-container{
        grid-template-columns: 1fr;
    }
    .revenue-heading-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .Order{
        text-align: center;
    }
  }
  
  .table-main-chart{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
    

  .net-container{
    display: grid;
   
    grid-template-columns: 2fr 1fr;
   
  }

  .netbox{
    padding: 1rem;
  }






  .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .item {
   
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .header-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
    cursor: pointer;
  }
  
  .heading {
    font-size: 16px;
  }
  
  .arrow {
    font-size: 16px;
  }
  
  .content {
    padding: 10px;
    color: #fff;
  }
  
  .header-tab i{
   
    padding: 0.5rem;
    border-radius: 15px;
  }



  .review-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0.8rem 1rem;
  overflow-y: scroll;
    height: 473px;
    
   
  }
  
  .review {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .author {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .author-name {
    font-weight: bold;
  }
  
  .rating {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .description {
    font-size: 0.7rem;
    color: #ddd;
  }
  
  .countery-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .customer-heading-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  


 
  
 
  .review-container::-webkit-scrollbar {
    width: 2px;
  }
  
  .review-container::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
  
  .review-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    min-height: 10px; 
    max-height: 10px;
  }
  
  .review-container::-webkit-scrollbar-thumb:hover {
    background: #555;
   
  }
  
  .review-container {
    scrollbar-width: thin;
    scrollbar-color: #fff rgb(30 41 59);
  }
  
 


  