body{
    background-color: #F5F5F5;
}

.form-title{
    display: flex;
    justify-content: center;
    color: #2E2A55;
    font-size: 23px;
}


.form-one-input{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    padding-bottom: 36px;
}

.scond-input{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    padding-bottom: 36px;
}

.form-btn{
    background-color: #E06A20;
    width: 226px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    
    align-items: center;
    margin-top: 4rem;
    justify-content: center;
}
.form-container{
    
}


.profession{
   margin-top: 1.5rem;
}




.form-main{
    padding: 50px;
}



.logo {
    display: flex;
    justify-content: center;
    max-width: 8rem;
    margin-top: 19px;
    margin-left: 33px;
}


.btn-1{
    background-color: #E06A20;
    width: 177px;
    height: 50px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    padding: 10px 45px 10px 15px;
    align-items: center;
    margin-top: 4rem;
   
}

.btn-2{
    background-color: #084826;
    width: 177px;
    height: 50px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    padding: 10px 59px 10px 15px;
    align-items: center;
    margin-top: 2.5rem;
}
.btn-3{
    
    width: 177px;
    height: 50px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    padding: 10px 45px 10px 15px;
    align-items: center;
    margin-top: 2.5rem;
    border: 1px solid#8A8A8A;
}
.btn-4{
    width: 177px;
    height: 50px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    padding: 10px 72px 10px 15px;
    align-items: center;
    margin-top: 2.5rem;
    border: 1px solid#8A8A8A;
}
.Menu-btn{
    padding: 1px 0px 0px 6px;
}

.sidebar i{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    
}
.sidebar{
    display: none;
    height: 100%;
}
.sidebar.active{
    display: block;
}
.burger{
    display: none;
}
.search-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 13px;
    outline: none;
    color: #616161;
}
.search-container button {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 3px 8px 5px 8px;
  background-color: #084826;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    color: #fff;
}
.search-container button:hover {
    background-color: #ddd;
}

.user-info i{
    font-size: 30px;
    color: #084826;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 32px 15px 25px;
   align-items: center;
   gap: 10rem;
}
.header h2{
    font-size: 30px;
    color: #616161;
}



.application-btn{
    display: flex;
    gap: 10px;
}
.app-btn-1{
    
    height: 50px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 3px;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #8A8A8A;
    background-color: #084826;
    line-height: 1rem;

}
    .app-btn {
        
        height: 50px;
        border-radius: 14px;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px 10px 3px;
        align-items: center;
        margin-top: 10px;
        border: 1px solid #8A8A8A;
        line-height: 1.2rem;
    }
    .t-title {
        display: flex;
        gap: 116px;
        align-items: center;
        padding-bottom: 1rem;
    }

    
 .box {
    border: 1px solid #8A8A8A;
    display: flex;
    padding: 0px 1rem 0px 0px;
     margin-bottom: .2rem;
    }
    
     .fill-color-1{
        width: 11px;
       
        border-radius: 3px;
    }
     .box p{
        font-size: 12px;
    }


    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ECECEC;
    }
    th, td {
        text-align: left;
    border: 1px solid #ddd;
    padding: 8px 30px 20px 10px;
    color: #616161;
    font-size: 12px;
    }
    th {
        background-color: #f2f2f2;
    }

    .table-body {
        border: 1px solid #707070;
        background: #fff;
        border-radius: 20px;
        padding: 1rem;
    }


    .grid-container {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: auto;
        height: 100vh;
    }
    .header {
        color: #fff;
        padding: 20px;
    }
    
    .table-view {
        padding: 20px;
        overflow: hidden;
    }
    .table-body{
        overflow-x: auto;
    }
    @media (max-width: 767px) {
        .grid-container{
            display: block;
        }
        .burger{
            display: block;
        }
        .app-btn-1, .app-btn{
            width: 100%;
            justify-content: left;
        }
        .form-main {
          grid-template-columns: 1fr;
          gap: 2rem;
        }
        .form-input{
            gap: .8rem;
        }
        .form-title {
            display: flex;
            justify-content: center;
            color: #2E2A55;
            font-size: 17px;
        }
        .sidebar{
            position: absolute;
            width: 12rem;
            z-index: 10;
            display: block;
        }
        .sidebar.active{
            display: none;
        }
        .t-title{
            flex-wrap: wrap;
            gap: 5px;
        }
        /* .grid-container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            height: 100vh;} */
            .header{
                gap: .5rem;
            }
            .header h2{
                font-size: 18px;
                color: #616161;
            }
      }